<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/blueimp-gallery.min.css">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- 加入控制 -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- 加入内容 -->
    
    <script src="js/blueimp-gallery.min.js"></script>

    <!-- 加入每个内容的点击响应 -->
    <script>
      var gallery = blueimp.Gallery([
        {
          title: 'mushroom',
          href:'images/mushroom.jpg',
          type:'image/jpeg',
          thumbnail:'images/thumbnail/mushroom.jpg',
        },
        {
          title: 'rice',
          href:'images/rice.jpg',
          type:'image/jpeg',
          thumbnail:'images/thumbnail/rice.jpg',
        },
        {
          title: 'nuddles',
          href:'images/nuddles.jpg',
          type:'image/jpeg',
          thumbnail:'images/thumbnail/nuddles.jpg',
        },
      ]);
    </script>

    
  </body>
</html>
